<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="pull-right">
                    <!-- <a ui-sref="home">home</a> |
                    <a ui-sref="buyer">buyer</a> |
                    <a ui-sref="farmer">farmer</a> |
                    <a ui-sref="order.all">all orders</a> |
                    <a ui-sref="produce.all">all produce</a> |
                    <a ui-sref="order">order</a> |
                    <a ui-sref="bid.create">create bid</a> -->
                </div>
            </div>
        </div>
    </div>
</div>
