<div class="header">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                FarmBoat
            </div>
            <div class="col-sm-8">
                <div class="pull-right">
                    <a ui-sref="home">home</a> |
                    <a ui-sref="buyer">buyer</a> |
                    <a ui-sref="farmer">farmer</a> |
                    <a ui-sref="produce.all">all produce</a> |
                    <a ui-sref="order">order</a>
                    <a ui-sref="login" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">login</a>
                </div>
            </div>

        </div>
    </div>
</div>
