<div class="header" ng-controller="HeaderController">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="pull-right">
                    <div ng-show="auth">Hi, {{username}}</div>
                    <a ui-sref="login" ng-hide="auth" class="mdl-button mdl-js-button">login</a>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="logo">
                    <h4 style="text-align: center;"><a ui-sref="home">The Food Basket</a></h4>
                </div>
            </div>

        </div>

        <div class="row" ng-show="auth">
            <div class="col-xs-12" style="text-align: center;">
                <div ng-show="logged_in_as_buyer">
                    <div class="header-buttons">
                        <a class="mdl-button mdl-js-button" ui-sref="buyer.dash">Dashboard</a>
                        <a class="mdl-button mdl-js-button" ui-sref="produce.all">Buy Produce</a>
                        <!-- <button class="mdl-button mdl-js-button" ng-click="logout()">Logout</button> -->

                    </div>
                </div>

                <div ng-show="!logged_in_as_buyer">
                    <div class="header-buttons">
                        <a class="mdl-button mdl-js-button" ui-sref="farmer.dash">Dashboard</a>
                        <a class="mdl-button mdl-js-button" ui-sref="produce.all">See All Produce</a>
                        <a class="mdl-button mdl-js-button" ui-sref="order.all">Explore Market Demands</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
