<!-- produce_id, quantity, price, location_id, active (boolean) -->


<div class="create-order">

    <div class="hero hero--produce-item" style="background: url('http://localhost:8000/{{vm.produce.image_url}}') center/cover;">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <h2 class="hero__title--produce-item">Order {{vm.produce.name}}</h2>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <form ng-submit="vm.createOrder(vm.createOrderData)" class="order-form">
                    <div class="form-group">
                        <label for="newOrderQuantity">Quantity Demanded</label>
                        <input type="number" ng-model="vm.createOrderData.quantity" class="form-control" id="newOrderQuantity" placeholder="Quantity in lbs">
                    </div>

                    <div class="form-group">
                        <label for="newOrderPrice">Buying Price (per lb)</label>
                        <input type="number" ng-model="vm.createOrderData.price" class="form-control" id="newOrderPrice" placeholder="Price per lb">
                    </div>

                    <input type="hidden" ng-model="vm.createOrderData.user_id">
                    <input type="hidden" ng-model="vm.createOrderData.deliveryLocationId">
                    <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">Create Order</button>
                </form>
            </div>
        </div>
    </div>


</div>
