.state-box {
    border: 1px solid #ddd;
    padding: 10px;
    margin: 10px;
}

.welcome {
    background: #fff;
}

.logo h4 a {
    font-family: 'Coming Soon';
}

.hero--front {
    background: url('https://storage.googleapis.com/bitboat2016/vegetables-resized.jpg') center/cover;
    box-shadow: #333 0 0 101px 23px inset;
    text-align: center;
    padding: 100px 10px;
}

.hero--front__title h3{
    color: yellow;
    text-shadow: #333 2px 2px 5px;
}

.hero--front__button {
    margin: 10px;
}

.hero--produce-item {
    background: #ddd;
}

.hero__title--produce-item {
    padding: 20px 40px;
    display: inline-block;
    margin: 70px auto 20px;
    background: #56ab2f; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #56ab2f , #a8e063); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #56ab2f , #a8e063); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-radius: 5px;
    box-shadow: #000 1px 1px 3px;
    color: #fff;
}

.header {
    background: #f5f5f5;
    padding: 20px 0;
}

.page-header {
    font-family: 'Pacifico';
    background: #56ab2f; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #56ab2f , #a8e063); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #56ab2f , #a8e063); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    margin: 0;
    text-align: center;
}

.page-header h4 {
    font-family: 'Pacifico';
}


.produce-card {
    float: left;
    margin: 0 20px 20px 0
}

.produce-card__img-container {
    height: 200px;
}

.produce-chart {
    width: 500px;
}


.order-form {
    margin: 20px auto;
    max-width: 500px;
}

.order-details {
    background: rgba(000, 000, 000, 0.5);
    padding: 20px 0;
    text-align: center;
    color: #fff;
}

/**
 * Material Overwrite
 */

.mdl-button--accent.mdl-button--accent.mdl-button--raised {
    color: #fff;
}
